<!-- <p>wishlist works!</p> -->

<div class="loadar" *ngIf="loaderforpayment">
  <div class="d-flex align-items-center justify-content-center h-100 flex-column">
      <img src="../assets/loader.gif" class="mb-3" alt="Loading..." />
      <p class="text-center text-black font-20">{{ LoaderVal }}</p>
  </div>
</div>

<!-- <div *ngIf="isLoading">Loading...</div> -->
<!-- <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
<div *ngIf="!isLoading && wishlist.length === 0">Your wishlist is empty.</div> -->

<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{ errorMessage }}
</div>

<div *ngIf="!isLoading && wishlist.length === 0" class="text-center mt-5">
  <h3>Your wishlist is empty.</h3>
</div>


<div *ngIf="!loaderforpayment && wishlist.length > 0">
  <div class="container">
    <h2 class="mb-4 text-center mt-5">Your Wishlist</h2>
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4 d-flex justify-content-center" *ngFor="let product of wishlist">
        <div class="card h-100" style="width: 90%;">
          <img [src]="product.imageUrl" alt="{{ product.name }}" class="mg-thumbnail product-image">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="font-weight-bold">Price: {{ product.price | currency }}</p>
            <button (click)="removeFromWishlist(product.id)" class="btn btn-danger">Remove from Wishlist</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ul>
    <li *ngFor="let product of wishlist" class="media mb-4">
      <img [src]="product.imageUrl" alt="{{ product.name }}" class="mr-3 product-image" style="width: 100px; height: auto;">
      <div class="media-body">
        <h5 class="mt-0 mb-1">{{ product.name }}</h5>
        <p>{{ product.description }}</p>
        <p class="font-weight-bold">Price: {{ product.price | currency }}</p>
        <button (click)="removeFromWishlist(product.id)" class="btn btn-danger">Remove from Wishlist</button>
      </div>
    </li>
  </ul> -->