<!-- <p>header works!</p> -->
<nav class="navbar navbar-expand-lg  mb-4">
    <div class="container">
        <!-- <a class="navbar-brand text-white" href="#">eStore</a> -->
        <a href="#">
            <img src="assets/images/logo.jpg" alt="Company Logo" id="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Search bar -->

        <!-- <form class="d-flex flex-grow-1 mx-5" role="search">
            <input class="form-control me-2" type="search" placeholder="Search for Products....." aria-label="Search">
            <button class="btn btn-outline-success text-white" type="submit">Search</button>
        </form> -->
        <form class="example-form d-flex flex-grow-1 mx-4" role="search">
            <mat-form-field appearance="fill" class="example-full-width mt-2">
                <!-- <mat-label>Search</mat-label> -->
                <input type="search" matInput [formControl]="myControl" [matAutocomplete]="auto" placeholder="Search for Products,Brands..."
                    class="search-input" >

                <mat-autocomplete #auto="matAutocomplete">
                    <ng-container *ngIf="filteredOptions | async as options">
                        <ng-container *ngIf="options.length > 0; else noOptions">
                            <mat-option *ngFor="let option of options" [value]="option.label">
                                {{ option.label }}
                            </mat-option>
                        </ng-container>
                    </ng-container>
                    <ng-template #noOptions>
                        <mat-option disabled>No matches found</mat-option>
                    </ng-template>
                </mat-autocomplete>
            </mat-form-field>
        </form>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/product/product-list']" class="nav-link text-white" href="#">Shop</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/about-us']" class="nav-link text-white" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/contact-us']" class="nav-link text-white" href="#">Contact</a>
                </li>
                <li>
                    <button class="btn btn-custom" type="button" style="background-color: #f3f7f5;" (click)="goToCart()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"></path>
                        </svg>
                        cart <span *ngIf="cartCount > 0">({{ cartCount }})</span>
                    </button>
                </li>
            </ul>
            <form class="d-flex">
                <button *ngIf="!User" class="btn btn-outline-custom" type="button" routerLink="/auth/UserSignup">New User?</button>

                <button *ngIf="!User" class="btn btn-custom" type="submit" routerLink="/auth/Userlogin">login</button>

                <div *ngIf="User" class="dropdown">
                    <button class="btn btn-custom dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"></path>
                        </svg>
                         {{ User?.userFullName }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="userDropdown">
                      <li><a class="dropdown-item" href="#" [routerLink]="['/user/account']">My Profile</a></li>
                      <li><a class="dropdown-item" href="#" [routerLink]="['/order/order-details']">Orders</a></li>
                      <li><a class="dropdown-item" href="#" [routerLink]="['/product/product-wishlist']">Wishlist</a></li>
                      <li><a class="dropdown-item" href="#">Coupons</a></li>
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Notification</a></li>
                      <li><a class="dropdown-item" href="#">Gift Card</a></li>
                      <li><a class="dropdown-item" href="#">Help Center</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</nav>
