.card {
    border: 1px solid #e0e0e0;
}

.card-body {
    background-color: #f9f9f9;
}

.list-group-item {
    border: none;
    font-size: 16px;
}

.list-group-item strong {
    float: right;
}

/* .spinner-border {
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
} */
.loadar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: rgba(0,0,0,0.5);
  }
  
    .loadar img {
        width: 100px;
    }