.loginheader  {
    background-color: #c0f0d8;
}
.btn-primary {
    background-color: #c0f0d8;
    color:black;
}

.btn-primary:hover {
    background-color: #1e5041;
    color:#fff;
}
h4{
    color:black;
}

.loadar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: rgba(0,0,0,0.5);
  }
  
    .loadar img {
        width: 100px;
    }