.btn-group .btn {
    margin-left: 0.5rem;
  }

.payment-methods {
  margin-top: 20px;
}

.payment-methods label {
  display: block;
  margin: 10px 0;
}

.credit-card-form, .upi-form {
  margin-left: 20px;
}

.credit-card-form input, .upi-form input {
  margin-bottom: 10px;
}
  
.payment-header {
  cursor: pointer;
  background-color: #f0f0f0; /* Light gray background */
  padding: 10px; /* Add some padding for better spacing */
  border-radius: 5px; /* Optional: Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.payment-header:hover {
  background-color: #e0e0e0; /* Slightly darker gray on hover */
}

.payment-icon {
  margin-left: 5px; /* Space between text and icon */
  }
  