.about-section {
    background-color: #f8f9fa;
    color: #343a40;
}

.about-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #1e5041;
}

.about-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
}

.about-values {
    font-size: 1.5rem;
    margin-top: 30px;
    font-weight: bold;
}

.about-values-list {
    list-style-type: none;
    padding-left: 0;
}

.about-values-list li {
    /* background: url('path/to/check-icon.svg') no-repeat left center; */
    background-size: 20px;
    padding-left: 30px;
    margin-bottom: 10px;
}

.about-image {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}
