<!-- <p>about-us works!</p> -->
<section id="about" class="about-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="about-title">About Us</h2>
                <p class="about-description">
                    Welcome to Our Store, your number one source for all things [product category]. We're dedicated to providing you the very best of Jeans, with an emphasis on dependability, customer service, and uniqueness.
                </p>
                <p class="about-description">
                    Founded in 2019 by Himanshu Deval, eStore has come a long way from its beginnings. When they first started out, My passion for this drove them to do tons of research, and gave them the impetus to turn hard work and inspiration into a booming online store.
                </p>
                <p class="about-description">
                    We now serve customers all over [region or globe], and are thrilled to be a part of the quirky, eco-friendly, fair trade wing of the e-commerce industry.
                </p>
                <h3 class="about-values">Our Values</h3>
                <ul class="about-values-list">
                    <li>Quality Products</li>
                    <li>Customer Satisfaction</li>
                    <li>Innovation</li>
                    <li>Community Engagement</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <img src="../../assets/images/card1.jpg" alt="About Us Image" class="img-fluid about-image">
            </div>
        </div>
    </div>
</section>
